header {
  border: 2px solid red;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a:hover {
  color: rgb(255, 0, 0);
  transition: 0.5s ease-in-out;
  padding-left: 15px;
}

a {
  color: rgb(0, 0, 0);
}

main {
  border: 2px solid black;
  background-color: rgb(102, 102, 102);
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  border: 1px solid grey;
}

footer {
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: center;
  justify-content: center;
  height: 12px;
}

body {
  display: flex;
  width: 100%;
  margin: 0;
}
.mainsection {
  flex-grow: 1;
}

.Artistas {
  background-color: rgb(176, 176, 176);
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ven_a_grabar {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* fake carrousel */

.hero-image {
  position: fixed;
  object-fit: cover;

  width: 100%;
  height: 100vh;

  animation-name: imagefade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 18s;
}

@keyframes imagefade {
  0% {
    opacity: 1;
  }

  17% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
img:nth-of-type(0) {
  animation-delay: 18s;
}

img:nth-of-type(1) {
  animation-delay: 15s;
}

img:nth-of-type(2) {
  animation-delay: 12s;
}

img:nth-of-type(3) {
  animation-delay: 9s;
}

img:nth-of-type(4) {
  animation-delay: 6s;
}

img:nth-of-type(5) {
  animation-delay: 3s;
}

/* ------------> BOTONES <------------ */

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 200px;
  height: 50px;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}


/* --------------> FORMULARIO <----------------- */

.privacidad {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 0.5rem;
}

.Formulario {
    width: 500px;
    background-color: rgba(255, 255, 255, 0.524);
    display: flex;
    flex-direction: column;

}

.edad {

    width: 100px;
}