header {
  border: 0px solid red;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  border: 2px solid black;
  background-color: rgb(102, 102, 102);
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  border: 1px solid grey;
}

footer {
  border: 2px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 100%;
}

.navobj {

    width: 100% ;
    height: 250px ;
    overflow="hidden" ;
    background-color: black;
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 50px;
  align-content: center;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
}

.navbar1 {
  color: white;
}

.navbar2 {
  color: grey;
}

body {
  display: flex;
  width: 100%;
  margin: 0;
}

a:hover {
  color: rgb(255, 0, 0);
  transition: 0.5s ease-in-out;
  padding-left: 15px;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none !important;
}

.mainsection {
  flex-grow: 1;
}

.Artistas {
  background-color: rgb(176, 176, 176);
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.ven_a_grabar {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 150px;
  border-color: black;
  border-width: 2px;
}

/* ---------------------> Fake Carrousel <--------------------- */

.hero-image {
  position: fixed;
  object-fit: cover;

  width: 100%;
  height: 100vh;

  animation-name: imagefade;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 18s;
}

@keyframes imagefade {
  0% {
    opacity: 1;
  }

  17% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
img:nth-of-type(0) {
  animation-delay: 18s;
}

img:nth-of-type(1) {
  animation-delay: 15s;
}

img:nth-of-type(2) {
  animation-delay: 12s;
}

img:nth-of-type(3) {
  animation-delay: 9s;
}

img:nth-of-type(4) {
  animation-delay: 6s;
}

img:nth-of-type(5) {
  animation-delay: 3s;
}

/* ---------------------> BOTONES <------------------------- */

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 200px;
  height: 50px;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}

.button1:hover {
  background-color: #4caf50;
  color: white;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #008cba;
}

.button2:hover {
  background-color: #008cba;
  color: white;
}

/* -----------------------> FORMULARIO <----------------------------- */

.privacidad {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0.5rem;
}

.Formulario {
  width: 500px;
  background-color: rgba(255, 255, 255, 0.524);
  display: flex;
  flex-direction: column;
}

.edad {
  width: 100px;
}

/* -------------------------> TABLA <-------------------------- */

.precios {
  width: 450px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.524);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-radius: 30px;
  border-color: black;
  border-width: 3px;
  color: black;
}

.precios1 {
  width: 1200px;
  height: 400px;
  background-color: rgba(45, 45, 45, 0.625);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-color: black;
  border-width: 3px;
  align-items: center;
}

/* ---------------------------> UTIL <-------------------------- */

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 1000;
}

.midline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}
÷
/* ---------------------------> DROPDOWN NAVBAR <-------------------------- */

/* Style The Dropdown Button */
.dropbtn {
  background-color: #000000;
  color: white;
  padding: 16px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  height: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  color: rgb(0, 0, 0);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(40, 40, 40, 0.2);
  z-index: 1;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: grey;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: grey;
}




/* --------------------- CARD -------------------------- */

.tarjeta{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:420px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    font-family: sans-serif;
  }
  .titulo{
    font-size: 24px;
    padding: 10px 10px 0 10px;;
  }
  .cuerpo{
    padding: 10px;
  }
  .pie{
    background: #6699ff;
    border-radius:0 0 15px 15px;
    padding: 10px;
    text-align:center;
  }
  .pie a{
    text-decoration: none;
    color: white;
  }
  .pie a:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: ""
  }