$color-green: green;
$color-red: red;
$color-blue: blue;

@mixin center-flex($column) {
  display: flex;
  flex-direction: $column;
  align-items: center;
  justify-content: center;
}

@mixin border-color($bcolor) {
  border: 1px solid $bcolor;
}

@mixin padding($paddingpx) {
  padding: $paddingpx;
}

@mixin text-color($tcolor) {
  color: $tcolor;
}

body {
  @include center-flex(column);
  @include border-color($color-red);
  @include padding(10px);
  width: 100vw;
  h1 {
    color: $color-green;
    text-decoration: underline $color-blue 1px;
  }
}

div {
  @include center-flex(column);
  gap: 1rem;
}

section {
  @include center-flex(row);
  width: 100vw;
}

article {
  @include border-color($color-green);
  @include padding(5px);
  @include center-flex(column);
  width: 100vw;
  height: 7rem;
  p {
    @include text-color($color-blue);
    text-align: center;
    font-size: 1rem;
  }
  .p2 {
    @include text-color($color-red);
  }
}

.footer {
  @include center-flex(row);
  width: 100vw;
  p {
    @include text-color($color-green);
    text-align: center;
    font-size: 1.5rem;
  }
}
